<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  	<parameter name="folder" value="Social" />
    <classes>
      <class name="com.speckyfox.TestCases.Login_Test_1"/>
      <class name="com.speckyfox.TestCases.TC_2_Move_Messages"/>
      
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
